services:
  frontend:
    build: 
      context: ./smartplace
    ports:
      - "5173:5173"
    volumes:
      - ./smartplace:/app
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build:
      context: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      # This is the magic: inside Docker, you use the service name 'db' as the host!
      - DATABASE_URL=postgres://admin:mypassword@db:5432/smartplace_db
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: smartplace_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
