# Supabase Connection Details
# You can find the connection string in your Supabase project settings -> Database -> Connection string -> URI
DATABASE_URL=postgresql://postgres.mxhptgzugyidqbfthxbb:SmartPlace@123@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres

# Server Port
PORT=3000
